<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>.notdef</string>
			<string>NULL</string>
			<string>CR</string>
			<string>space</string>
			<string>drink</string>
			<string>eat</string>
			<string>sleep</string>
			<string>medicine</string>
			<string>healthcare</string>
			<string>hygiene</string>
			<string>air</string>
			<string>shelter</string>
			<string>safe</string>
			<string>warmth</string>
			<string>help</string>
			<string>power</string>
			<string>yes</string>
			<string>no</string>
			<string>please</string>
			<string>ok</string>
			<string>agree_china</string>
			<string>alone</string>
			<string>bye_asia</string>
			<string>bye_india</string>
			<string>bye_western</string>
			<string>cannothear</string>
			<string>celebrate</string>
			<string>come_western</string>
			<string>come_japan</string>
			<string>connection</string>
			<string>empowerment</string>
			<string>enemy</string>
			<string>exhange</string>
			<string>faster</string>
			<string>friend_uk_us</string>
			<string>friend_france</string>
			<string>friend_spain</string>
			<string>happy</string>
			<string>hello</string>
			<string>leave</string>
			<string>listen</string>
			<string>look</string>
			<string>me</string>
			<string>move</string>
			<string>pause</string>
			<string>payment</string>
			<string>payment_japan</string>
			<string>phone</string>
			<string>promise</string>
			<string>protection</string>
			<string>quiet</string>
			<string>respect_asia</string>
			<string>slower</string>
			<string>solidarity</string>
			<string>sorry</string>
			<string>speak</string>
			<string>speakdown</string>
			<string>speakup</string>
			<string>support</string>
			<string>thankyou_western</string>
			<string>thankyou_asia</string>
			<string>together</string>
			<string>us</string>
			<string>victory</string>
			<string>wait</string>
			<string>welcome_india</string>
			<string>welcome_western</string>
			<string>what</string>
			<string>when</string>
			<string>where</string>
			<string>win</string>
			<string>work</string>
			<string>write</string>
			<string>you</string>
			<string>you_rock</string>
			<string>aggressiveness</string>
			<string>altruism</string>
			<string>anticipation</string>
			<string>anxious</string>
			<string>boredom</string>
			<string>calm</string>
			<string>cold</string>
			<string>confidence</string>
			<string>confusion</string>
			<string>contempt</string>
			<string>curious</string>
			<string>disapproval</string>
			<string>disgust</string>
			<string>distrust</string>
			<string>fear</string>
			<string>flourishing</string>
			<string>forgiveness</string>
			<string>gratitude</string>
			<string>grief</string>
			<string>guilt</string>
			<string>heart01_western</string>
			<string>heart02_korea</string>
			<string>hope</string>
			<string>hug</string>
			<string>hurt</string>
			<string>joy</string>
			<string>liberation</string>
			<string>love</string>
			<string>luck</string>
			<string>luck_germany</string>
			<string>optimism</string>
			<string>pain</string>
			<string>purity</string>
			<string>relief</string>
			<string>serenity</string>
			<string>shock</string>
			<string>shyness</string>
			<string>stress</string>
			<string>surprise</string>
			<string>trust</string>
			<string>uncertainty</string>
			<string>upset</string>
			<string>attack</string>
			<string>break</string>
			<string>build</string>
			<string>captured</string>
			<string>crouch</string>
			<string>death_western</string>
			<string>death_italy</string>
			<string>evacuate</string>
			<string>explosion</string>
			<string>fight</string>
			<string>freeze</string>
			<string>getout</string>
			<string>hurry</string>
			<string>protect</string>
			<string>protest</string>
			<string>regroup</string>
			<string>retaliate</string>
			<string>surrender</string>
			<string>tool</string>
			<string>transport_air</string>
			<string>transport_ground</string>
			<string>vehicle</string>
			<string>walk_run</string>
			<string>weapon</string>
			<string>withdraw</string>
			<string>blessings_Jewish</string>
			<string>agreement</string>
			<string>applause</string>
			<string>perfect</string>
			<string>perfect_italy</string>
			<string>chill</string>
			<string>clarifying</string>
			<string>directresponse</string>
			<string>disagreement</string>
			<string>feelingbetter</string>
			<string>feelingunderstood</string>
			<string>hardblock</string>
			<string>haveaquestion</string>
			<string>oppose</string>
			<string>play</string>
			<string>pointofprocess</string>
			<string>precision</string>
			<string>silence</string>
			<string>veto</string>
			<string>wanttoadd</string>
			<string>wanttotalk</string>
			<string>one_europe</string>
			<string>one_us_china</string>
			<string>one_japan</string>
			<string>two_europe</string>
			<string>two_us_china</string>
			<string>two_japan</string>
			<string>three_europe</string>
			<string>three_us_china</string>
			<string>three_japan</string>
			<string>four_europe</string>
			<string>four_us_china</string>
			<string>four_japan</string>
			<string>five_europe</string>
			<string>five_us_china</string>
			<string>five_japan</string>
			<string>zero</string>
			<string>adult</string>
			<string>abit</string>
			<string>again</string>
			<string>child</string>
			<string>less</string>
			<string>container</string>
			<string>converge</string>
			<string>down</string>
			<string>far</string>
			<string>here</string>
			<string>left</string>
			<string>meetingpoint</string>
			<string>more</string>
			<string>near</string>
			<string>picture</string>
			<string>right</string>
			<string>stop</string>
			<string>straight</string>
			<string>turnaround</string>
			<string>up</string>
			<string>symbol</string>
		</array>
		<key>name</key>
		<string>Allkin</string>
	</dict>
</array>
</plist>

